* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-image: url(/Image/sky.jpeg);
    position: sticky;
    top: 0%;
    object-fit: cover;
    object-position: 50% 50%;
}

.container, .main-page-container {
    position: relative;
}

footer {
    float: none;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #1a61a3;
    height: 8%;
    
}

/* footer p a {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    color: white;
} */

.footer-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
}

.footer-links div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.footer-links div a {
    color: white;
}

footer #copyright {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 90%;
    text-align: center;
    color: rgb(219, 219, 219);
}


/*  -----------     HOMEPAGE     --------- */

header button {
    height: 42px;
    width: 100px;
    border-radius: 8px;
    font-size: 125%;
    text-align: center;
    float: right;
    border: solid 0px;
    cursor: pointer;
}

/* sign up button editing starts*/

header #signup{
    margin: 15px 150px 0 0;
    background-color: #3cb34c;
    color: white;
}

header #signup:hover {
    background-color: #029115;
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

/* End of editing sign up button */

/* login button editing starts*/
header #login {
    margin: 15px 20px 0 0;
    background-color: #25b2fd;
    color: white;
}

header #login:hover {
    background-color: #1a61a3;
    color: white;
    transition: 0.4s;
    font-weight: bold;
}
/* End of editing login button */

/* ---- BODY ---- */
#homepage-body{
    background: rgba(0, 0, 0, 0.5) url(/Image/homepage-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-blend-mode: darken;
}

.homepage-container h1 {
    font-size: 350%;
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
    vertical-align: center;
    text-align: center;
    width: 700px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


/* ----------END OF WELCOME PAGE----------- */



/* ----------LOGIN PAGE----------- */

.login_page, .signin-page{
    background: rgba(0, 0, 0, 0.5) url(/Image/background-image.jpeg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
}

/* h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
} */

.login_box {
    width: 280px;
    height: 350px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: #b3b3b374;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    
}


.login_box h1 {
    margin-bottom: -20px;
    color: rgb(255, 255, 255);
}

.login_box input[type="email"], .login_box input[type="password"] {
    border: 0;
    background: white;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    padding: 14px 10px;
    width: 230px;
    outline: none;
    color: black;
    transition: 0.25px;
    border-radius: 5px;
}
.login_box input[type="email"]{
    margin-top: 50px;
}


.login_box input[type="email"]:focus, .login_box input[type="password"]:focus {

    background-color: #f1eec8;

}


.login_box .loginPage-login, .login_box button {
    border: 0;
    background-color: #25b2fd;
    display: block;
    margin: 5px auto;
    padding: 12px 10px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25px;
    margin-bottom: 20px;
    width: 100px;
}


.login_box .loginPage-login:hover{
    background-color: #1a61a3;
    transition: 0.3s;
}

.login_box .loginPage-signup {
    background-color: #3cb34c;
    display: block;
    margin: 5px auto;
    padding: 12px 10px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25px;
    margin-bottom: 20px;
    width: 100px;
   
}

.login_box .loginPage-signup:hover {
    background-color: #029115;
    color: white;
    transition: 0.3s;
    font-weight: bold;
   
}




.login_box a {
    margin-top: 50px;
    font-size: 75%;
}

.login_box hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.invalid {
    font-size: 75%;
    font-style: italic;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ----------END OF LOGIN PAGE----------- */


/* -------------   SIGN UP PAGE STARTS HERE   ------------------ */

#signup_box {
    width: 320px;
    height: 380px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: #b3b3b374;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

#signup_des h1{
    margin-top: -10px;
    text-align: left;
    color: white;
}
#signup_des p{
    text-align: left;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 90%;
}
#signup_box hr{
    margin-bottom: 10px;
}

#form input[type="text"], #form input[type="password"], #form input[type="email"] {
    height: 20px;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    border: 1px solid black;
}


#form input[type="email"] {
    width: 295px;
}

#form input[type="password"] {
    width: 295px;
}

#dob_p, #gender_p {
    font-size: 70%;
    text-align: left;
    margin-left: 7px;
    margin-top: 8px;
    color: white;
}


select, input[type="number"] {
    border: 1px solid black;
    width: 99px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    
}

#gender-sel {
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    width: 98px;
    height: 22px;
    font-size: 80%;
    margin: 0;
    top: 50%;
    left: 50%;
    padding-top: 6px;

}

#form input[type="text"]:focus, #form input[type="password"]:focus, 
#form input[type="email"]:focus, select:focus, input[type="number"]:focus {
    background-color: #f1eec8;
}


.signupPage-signup {
    width: 150px;
    height: 40px;
    background-color: #3cb34c;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: large;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.signupPage-signup:hover {
    background-color: #029115;
    font-size: larger;
    font-weight: bold;
}



/* ---------    MAIN PAGE   --------------*/

/* ---- header ---- */

#main-page-header h3 {
    color: rgb(231, 231, 231);
    padding-top: 25px;
    padding-left: 20px;
    display: inline-block;
    
}
#main-page-header h3 span {
    font-style: normal;
    font-size: 120%;
    
}

#main-page-header button {
    margin-right: 50px;
    margin-top: 20px;
    background-color: #ea532d;
    color: white;
    font-weight: bold;
}
#main-page-header button:hover {

    background-color: #de241e;
    color: white;
    font-weight: bold;
    font-size: larger;
    transition: .25s;
}

/* ---- body ---- */
.main-page-body{
    background: rgba(0, 0, 0, 0.5) url(/Image/homepage-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.main-page-body {
    padding-top: 20px;
    padding-bottom: 150px;
}

/* ---- CALENDER ---- */


.main-page-body .calender-container {
    float: left;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 62.5%;
    margin-top: 80px;
    margin-left: 100px;
}

.calender {
    width: 20rem;
    height: 26rem;
    background-color: #b3b3b374;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.calender-month {
    width: 100%;
    height: 5rem;
    background-color: #25b2fd;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0;
}

.calender-month .prev {
    padding-left: 20px;
}

.calender-month .next {
    padding-right: 20px;
}

.calender-month i {
    font-size: 1.5rem;
    cursor: pointer;
}

.calender-month h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: .5rem;
    text-align: center;
}

.calender-month p {
    font-size: .8rem;
}

.calender-weekdays {
    width: 100%;
    height: 3rem;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    color: white;
}

.calender-weekdays div {
    font-size: .9rem;
    font: 400;
    letter-spacing: 1px;
    width: calc(19.4rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calender-days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.1rem;
    color: white;
}

.calender-days div {
    font-size: 1rem;
    margin: 0.2rem;
    width: calc(16.8rem / 7);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}
.calender-days div:hover:not(.today) {
    border: 1px solid #25b2fd;
    cursor: pointer;
}

.calender-days .prev-date,
.calender-days .next-date {
opacity: 0.4;
}

.calender-days .today {
    background-color: #25b2fd;
}


/* ---- time ---- */

/* ---- footer ---- */


/* ---------   END OF MAIN PAGE   --------------*/




















/* ---------   ABOUT US AND PRIVACY  --------------*/
.nav-header button {
    margin-right: 50px;
    margin-top: 20px;
    background-color: #ea532d;
    color: white;
    font-weight: bold;
}

.nav-header button:hover {
    background-color: #de241e;
    color: white;
    font-weight: bold;
    font-size: larger;
    transition: .25s;
}



.privacy-aboutUS-container {
    width: 800px;
    height: 400px;
    margin: 40px auto 20px auto;
    background-color: rgba(107, 102, 102, 0.2);
    color: black;
    padding: 40px 70px;
    
}

.privacy-aboutUS-container p {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}